services:
  mysql8.x:
    image: mysql:8.4.7
    container_name: ldbc-mysql8.x
    platform: linux/arm64
    environment:
      MYSQL_USER: 'ldbc'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      - 13306:3306
    volumes:
      - ./database:/docker-entrypoint-initdb.d
      - ./database/mysql-8.x/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./database/ssl:/etc/mysql/ssl
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  mysql9.x:
    image: mysql:9.0.0
    container_name: ldbc-mysql9.x
    platform: linux/arm64
    environment:
      MYSQL_USER: 'ldbc'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      - 13307:3306
    volumes:
      - ./database:/docker-entrypoint-initdb.d
      - ./database/mysql-9.x/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./database/ssl:/etc/mysql/ssl
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  localstack:
    image: localstack/localstack:latest
    platform: linux/arm64
    container_name: ldbc-localstack
    ports:
      - "4566:4566"
      - "4571:4571"
    environment:
      - SERVICES=iam,sts
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - AWS_DEFAULT_REGION=ap-northeast-1
    volumes:
      - ./localstack:/etc/localstack/init/ready.d
      - /var/run/docker.sock:/var/run/docker.sock

  verdaccio:
    image: verdaccio/verdaccio:nightly-master
    container_name: verdaccio
    ports:
      - 4873:4873
