name: Release to NPM

on:
  workflow_dispatch:
    inputs:
      server:
        type: choice
        description: 'Server to publish'
        options:
          - mcpDocumentServer

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  group: ${{ github.workflow }} @ ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Test
    strategy:
      matrix:
        os: [ ubuntu-22.04 ]
        scala: [ 3.3.5, 3.6.4 ]
        java: [ corretto@21 ]
        project: [ ldbcJS ]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup sbt
        uses: sbt/setup-sbt@v1

      - name: Setup Java (corretto@21)
        id: setup-java-corretto-21
        uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: 21
          cache: sbt

      - name: sbt update
        if: steps.setup-java-corretto-21.outputs.cache-hit == 'false'
        run: sbt +update

      - name: Check headers and formatting
        run: sbt 'project ${{ matrix.project }}' '++ ${{ matrix.scala }}' headerCheckAll scalafmtCheckAll 'project /' scalafmtSbtCheck

      - name: scalaJSLink
        run: sbt 'project ${{ matrix.project }}' '++ ${{ matrix.scala }}' Test/scalaJSLinkerResult

      - name: Test
        run: sbt 'project ${{ matrix.project }}' '++ ${{ matrix.scala }}' test

      - name: Check binary compatibility
        run: sbt 'project ${{ matrix.project }}' '++ ${{ matrix.scala }}' mimaReportBinaryIssues

      - name: Make target directories
        if: github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v'))
        run: mkdir -p module/ldbc-query-builder/.js/target module/ldbc-connector/js/target module/ldbc-codegen/js/target core/js/target module/ldbc-sql/.js/target module/ldbc-schema/.js/target module/ldbc-statement/.js/target module/ldbc-dsl/.js/target project/target

      - name: Compress target directories
        if: github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v'))
        run: tar cf targets.tar module/ldbc-query-builder/.js/target module/ldbc-connector/js/target module/ldbc-codegen/js/target core/js/target module/ldbc-sql/.js/target module/ldbc-schema/.js/target module/ldbc-statement/.js/target module/ldbc-dsl/.js/target project/target

      - name: Upload target directories
        if: github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v'))
        uses: actions/upload-artifact@v4
        with:
          name: target-${{ matrix.os }}-${{ matrix.java }}-${{ matrix.scala }}-${{ matrix.project }}
          path: targets.tar

  publish:
    name: Publish Artifacts
    needs: [build]
    strategy:
      matrix:
        os: [ubuntu-22.04]
        java: [corretto@21]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup sbt
        uses: sbt/setup-sbt@v1

      - name: Setup Java (corretto@21)
        id: setup-java-corretto-21
        uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: 21
          cache: sbt

      - name: sbt update
        if: steps.setup-java-corretto-21.outputs.cache-hit == 'false'
        run: sbt +update

      - name: Download target directories (3.3.5, ldbcJS)
        uses: actions/download-artifact@v4
        with:
          name: target-${{ matrix.os }}-${{ matrix.java }}-3.3.5-ldbcJS

      - name: Inflate target directories (3.3.5, ldbcJS)
        run: |
          tar xf targets.tar
          rm targets.tar

      - name: Download target directories (3.6.4, ldbcJS)
        uses: actions/download-artifact@v4
        with:
          name: target-${{ matrix.os }}-${{ matrix.java }}-3.6.4-ldbcJS

      - name: Inflate target directories (3.6.4, ldbcJS)
        run: |
          tar xf targets.tar
          rm targets.tar

      - uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Build document
        run: sbt docs/tlSite

      - name: Publish
        run: sbt "${{ github.event.inputs.server }}/npmPackage; ${{ github.event.inputs.server }}/npmPackageNpmrc; ${{ github.event.inputs.server }}/npmPackagePublish"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
